<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.dao.StudentCardMapper">
    <cache/>
    <!-- 这里来做延迟加载，需要查询学生证对应的学生，所以需要一个id -->
    <select id="findStudentCardById" parameterType="int" resultType="StudentCard">
        select * from student_card
        where id = #{id}
    </select>
</mapper>